@inherits BootstrapComponentBase

@if (!_dismissed)
{
    <DynamicElement TagName="div" class="@CssClass()" role="alert" Attributes="@UnknownParameters" ref="_mainElement">
        @ChildContent

        @if (Dismissible)
        {
            <button onclick="@Dismiss" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
    </DynamicElement>
}

@functions {
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a flag to indicate whether the alert is dismissible.
    /// </summary>
    public bool Dismissible { get; set; }

    /// <summary>
    /// Gets or sets the visual style of the alert.
    /// </summary>
    public BsStyle Style { get; set; } = BsStyle.Primary;

    /// <summary>
    /// Gets or sets an action to be invoked when the alert is dismissed.
    /// </summary>
    public Action OnDismiss { get; set; }

    private bool _dismissed;
    private DynamicElement _mainElement;

    private string CssClass()
        => $"alert alert-{Style.ToString().ToLowerInvariant()} "
        + (Dismissible ? "alert-dismissible" : string.Empty);

    void Dismiss()
    {
        _dismissed = true;
        OnDismiss?.Invoke();
        StateHasChanged(); // Workaround for https://github.com/aspnet/Blazor/issues/656
    }

    protected override void OnAfterRender()
    {
        InvokeOwnJs("_init", _mainElement.ElementRef);
    }
}
