@using Microsoft.AspNetCore.Blazor.Services
@inject IUriHelper uriHelper
<button onclick=@LogIn>Log in</button>

@functions {
    const string clientId = "fde5508a31ed099169cf";

    void LogIn()
    {
        uriHelper.NavigateTo($"https://github.com/login/oauth/authorize?client_id={clientId}");
    }
}
